@()(implicit request: play.api.mvc.Request[Any], lang: Lang)

@main() {
  <form class="">
    <div class="row">
      <div class="col-md-11">
        <div class="form-group has-feedback">
          <label class="control-label">&nbsp;</label>
          <input type="text" class="form-control" id="searchFied">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
      </div>
      <div class="col-md-1">
          <label class="control-label">&nbsp;</label>
        <button class="btn btn-primary">@Messages("search")</button>
      </div>
    </div>

  </form>
}
